/* Author : 01010011 01101000 01100001 01101101 01100101 01100101 01110010 */

/* RESETS  */
/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}
body {
  line-height: 1;
}
ol,
ul {
  list-style: none;
}
blockquote,
q {
  quotes: none;
}
blockquote:before,
blockquote:after,
q:before,
q:after {
  content: "";
  content: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}

/* --------- FONTS --------- */

@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;500;600;700&display=swap");

/* base style */

/* BASE  */

body {
  font-family: "Montserrat", sans-serif !important;
  font-size: 16px;
  font-weight: 300;
}

.editor-container {
  padding: 20px;
}

.canvas-box {
  margin-bottom: 20px;
  display: flex;
  justify-content: center;
}

/* carousal styles  */

.slick-next {
  right: 0;
  color: #0e0e0e;
  top: -30px;
  transition: 0.3s all ease-in-out;
}

.slick-next:hover {
  color: #ff007f;
  transition: 0.3s all ease-in-out;
}

.slick-prev {
  left: auto;
  right: 30px;
  top: -30px;
  color: #0e0e0e;
  z-index: 1;
  transition: 0.3s all ease-in-out;
}

.slick-prev:hover {
  color: #ff007f;
  transition: 0.3s all ease-in-out;
}

.slick-list {
  /* margin-top: 20px; */
  /* margin-left: -10px;
  margin-right: -10px; */
}

.slick-disabled {
  cursor: auto;
  opacity: 0.5;
}

.slick-disabled:hover {
  color: #0e0e0e;
  transition: 0.3s all ease-in-out;
}

.slick-slide {
  /* padding: 0 10px; */
  box-sizing: border-box;
}

/* carousal styles  */
